	<div class="page-content-wrapper">
	<div class="page-content">
		<h3 class="page-title">
			<small>Report - </small> Session Signature
		</h3>
		<div class="row">
			<div class="col-md-12">
				<!-- Form edit -->							 
				<div class="portlet light thin-border">
					<div class="portlet-title">
						<div class="caption font-dark"></div>
					</div>
					<div class="portlet-body padd25">
						<div class="form-wrapper">
							<form class="form-horizontal h-form" name="reportSignature" ng-submit="create(reportSignature, reportData);" novalidate enctype="multipart/form-data">
								<input type="hidden" ng-model="reportData._id" name="_id" />
								<div class="form-group">
									<label for="file" class="col-sm-2 control-label">File
										<span class="mandatory">&#42;</span>
									</label>
									<div ng-class="(fileType.error || (isEmpty(reportSignature.documentFile.$error) && reportSignature.documentFile.$touched)) ? 'col-sm-6 has-feedback has-error' : 'col-sm-6 has-feedback'">
										<input ng-file-select type="file" ng-model="reportData.file" id="file" name="documentFile" class="form-control" ng-required="true"/>
										<span class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-6">
										<button type="submit" class="btn green width100">Submit</button>
										<a href="#/report" class="btn default width100">Cancel</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>