<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta content="" name="description" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>
		{% for file in css %}
			{% if (file.namespace == "css") %}
				<link rel="stylesheet" href="{{file.url}}"/>
			{% endif %}
		{% endfor %}
	</head>
	<body ng-app="myApp" ng-controller="AppController" class="page-header-fixed">
		<div ng-class="isLoading ? 'ajax-load': ''"></div>
		<ng-include src="'/ng_asparticipant/views/header.html'"></ng-include>
		<div class="page-container">
			<div ng-view></div>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript">var participantId = "{{participantId}}";</script>
		{% for file in js %}
			{% if (file.namespace == "script") %}
				<script src="{{file.url}}"></script>
			{% endif %}
			{% if (file.namespace == "asparticipant") %}
				<script src="{{file.url}}"></script>
			{% endif %}
		{% endfor %}
	</body>
</html>