<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="address=no;email=no;telephone=no">
	</head>
	<body>
		<p>Hi {{name}}</p>
		<p>We have received your request for a new password.</p>
		<p>We are pleased to provide you a link for change your password.</p>
		<p><a href="{{resetLink}}">Click Here</a></p>
		<br>
		<p>If you are not the initiator of this request or for any technical enquiries, feel free to contact our support team by e-mail:
			<a href="mailto:support@mobiteach.net">support@mobiteach.net</a>
		</p>
	</body>
</html>