<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="address=no;email=no;telephone=no">
	</head>
	<body>
		<p>{{name}}</p>
		<p>We are pleased to provide you with information related to the creation of your account.</p>
		<p>You will find below your connection login ID, Room and password.</p>
		<strong>Connection information</strong>
		<p>
			Server URL: <a href="{{moderatorUrl}}">{{moderatorUrl}}</a>
		</p>
		<p>Login: {{email}}</p>
		<p>Password: {{password}}</p>
		<p>Room: {{room}}</p>
		<p>For any technical enquiries, feel free to contact our support team by e-mail: <a href="emailto:'support@mobiteach.net'">support@mobiteach.net</a></p>
	</body>
</html>