<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="address=no;email=no;telephone=no">
	</head>
	<body>
		<p>{{name}}, </p>
		<p>{{moderator}} sent you this invitation.</p>
		<p>For join the room :</p>
		<p>1. Click on the link below or copy the URL into your browser</p>
		<a href="{{participantUrl}}">{{participantUrl}}</a>
		<p>2. Type the Room Code : {{room}}</p>
		{{#if participantLogin0 }}
			<p>3. Then type your Email: {{email}}</p>
		{{/if}}
		{{#if participantLogin1 }}
			<p>3. Then type your Email and the PIN:</p>
				Email : {{email}}
				PIN : {{pin}}
		{{/if}}
		{{#if participantLogin2 }}
			<p>3. Then type your email and password:</p>
				Email : {{email}}
				Password : {{password}}
		{{/if}}
		<br>
		<p>Sincerely yours,</p>
		<p>The Mobiteach Team</p>
	</body>
</html>